<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log.pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}%n%msg%n%n</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log.pattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" level="info" />
		</Root>
	</Loggers>
</Configuration>
